@font-face {
  font-family: 'FiraCode Nerd Font';
  src: url('../fonts/FiraCodeNerdFontPropo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Terminess';
    src: url('../fonts/TerminessNerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {

  --md-default-bg-color: #000000; 
  --md-default-bg-color--light: #1a1a1a;
  --md-default-bg-color--lighter: #333333;
  --md-default-bg-color--lightest: #4d4d4d;
  
  --md-default-fg-color: #fcfcfc; 
  --md-default-fg-color--light: #cccccc;
  --md-default-fg-color--lighter: #aaaaaa;
  --md-default-fg-color--lightest: #000000;


  --md-primary-fg-color: #fcfcfc; 
  --md-primary-bg-color: #000000;
  --md-accent-fg-color: #ffffff; 
  --md-accent-bg-color: #333333; 
  
  --md-code-fg-color: #ffffff;
  --md-code-bg-color: #1a1a1a; 
  --md-code-hl-color: #333333;
  --md-code-hl-color--light: #444444;

  --md-typeset-color: #fcfcfc;
  --md-typeset-a-color: #909090; 
  --md-typeset-kbd-color: #333333;
  --md-typeset-kbd-accent-color: #444444;
  --md-typeset-kbd-border-color: #888888; 
  --md-typeset-mark-color: #333333;
  --md-typeset-table-color: #cccccc; 
  --md-typeset-table-color--light: #1a1a1a;

  --md-admonition-fg-color: #ffffff;
  --md-admonition-bg-color: #1a1a1a; 

  --md-shadow-z1: 0 0.2rem 0.5rem #00000080, 0 0 0.05rem #000000a0;
  --md-shadow-z2: 0 0.2rem 0.5rem #000000a0, 0 0 0.05rem #000000c0;
  --md-shadow-z3: 0 0.2rem 0.5rem #000000c0, 0 0 0.05rem #000000e0;

  font-size: 100%;

  --md-sidebar-width: 16rem; 
  --md-sidebar-secondary-width: 12rem;
}

body {
   font-family: monospace;
}

code, pre {
  background-color: var(--md-code-bg-color) !important;
  color: var(--md-code-fg-color) !important;
  border-radius: 4px;
  margin-right: 30px;
  margin-left: 30px;
}

a {
  color: var(--md-typeset-a-color);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  background-color: #101010;
  margin-left: 30px;
  margin-right: 30px;
  border: solid 2px #101010;
}

blockquote {
  color: var(--md-code-hl-comment-color);
  border-left: 3px solid #000000; 
  background: #101010;
  padding-left: 1rem;
}


.md-header__inner.md-grid {
   background-color: transparent;
}

.md-header {
   background: transparent;
   position: static;
}

.md-header--shadow {
  box-shadow: none;
  transition: none;
}

.md-header {
  background: transparent;
  align-content: center;
}

.md-icon svg {
  fill: #808080;
  display: inline;
  height: 1.2rem;
  width: 1.2rem;
}

.md-main__inner {
  margin-top: 1.5rem;
}
 
.md-typeset h1 {
  border-bottom: 1px solid var(--md-primary-fg-color);
  padding-bottom: 0.3em;
  margin-top: -0.5em;
  color: #ffffff;
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;
}

table {
  text-align: center;
}

.md-nav__title .md-nav__button.md-logo img,
.md-nav__title .md-nav__button.md-logo svg {
  fill:#b4befe;
  display:block;
  height:2.4rem;
  max-width:100%;
  object-fit:contain;
  width:auto;
  margin-right: auto;
  margin-left: auto;
}

[dir=ltr] .md-header__title {  
  display: none;
}

.md-header {
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

@media screen and (min-width: 76.25em) {
  .md-sidebar {
    height: 0;
  }
}

@media screen and (min-width: 60em) {
  .md-sidebar--secondary:not([hidden]) {
    display: none;
  }
}

.md-footer {
  background-color: var(--md-footer-bg-color);
  color: var(--md-footer-fg-color);
  display: none;
}

.md-header__button:not(.focus-visible) {
  -webkit-tap-highlight-color: transparent;
  outline: none;

}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #909090;
}

th, td {
  background-color: #101010;
  border: 1px solid #909090;
  padding: 0.5rem;
  text-align: center;
}

th {
  background-color: #202020;
  font-weight: bold;
}

.md-typeset {
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #808080;
  font-size: 1rem;
}

[dir="ltr"] .md-typeset blockquote {
  padding-left: .6rem;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #202020;
}

.md-typeset h2 {
  margin-left: 30px;
  margin-right: 30px;
}

.md-typeset h3 {
  margin-left: 30px;
  margin-right: 30px;
}

.md-typeset h4 {
  margin-left: 30px;
  margin-right: 30px;
}

.md-typeset h5 {
  margin-left: 30px;
  margin-right: 30px;
}

.md-typeset h6 {
  margin-left: 30px;
  margin-right: 30px;
}

p {
   margin-right: 30px;
   margin-left: 30px;
}

.md-typeset__table {
  display: table;
  margin-bottom: .5em;
  padding: 0 .8rem;
  margin-left: auto;
  margin-right: auto;
}

.md-typeset table:not([class]) {
  background-color: #ffffff;
}

.md-typeset ol:not([hidden]),
.md-typeset ul:not([hidden]) {
  display:flow-root;
  margin-right: auto;
  margin-left: auto;
}

.md-content {
   min-width: fit-content;

}

.md-content__inner {
  padding-bottom: 30px;
  padding-top: 30px;
}

a.md-nav__link::before {
  content: "";
  margin-right: 0.5rem;
  opacity: 0.8;
  vertical-align: middle;
  position: relative;
  top: -1px;
}


label.md-nav__link::before {
  content: "";
  font-family: 'FiraCode Nerd Font';
  margin-right: 0.5rem;
  opacity: 0.8;
  transition: transform 0.2s ease;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

input.md-nav__toggle:checked + label.md-nav__link::before {
  content: "";
  font-family: 'FiraCode Nerd Font';
  transform: rotate(0deg);
  vertical-align: middle;
  position: relative;
  top: -1px;
}

a.md-nav__link::before,
label.md-nav__link::before {
  font-family: 'FiraCode Nerd Font' !important;
  font-size: 0.9rem;
  vertical-align: middle;
}

.md-nav--primary .md-nav__title[for=__drawer] {
    text-align: center;
}

@media screen and (max-width: 76.2344em) {
  .md-nav--primary .md-nav__title[for="__drawer"] {
    background-color: #000000;
    color: #909090;
  }
}

@media screen and (max-width: 76.2344em) {
  .md-nav--primary .md-nav__link {
    margin-top: 0;
    padding: .3rem .6rem;
  }
}

@media screen and (max-width: 76.2344em) {
  .md-nav--primary .md-nav__item, .md-nav--primary .md-nav__title {
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 76.2344em) {
  .md-nav--primary .md-nav__title .md-logo {
   box-shadow: none;
   margin-top: -0.1rem;
  }
}

/*
.md-path:not([hidden]) {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2rem;
}

.md-path {
  font-size: 1.8rem;
  margin: 0 .8rem;
  overflow: auto;
  padding-top: -0.5rem;
  text-align: center;
  padding-bottom: 0.9rem;
  margin-left: auto;
  margin-right: auto;
}
*/

.md-typeset table:not([class]) {
  font-size: .9rem;
}

.md-nav {
  font-size: 1.0rem;
  line-height: 1.3;
}

.md-sidebar__scrollwrap {
   box-shadow: none;
}

.md-typeset img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  border: solid 1px #909090;
}


