@font-face {
  font-family: 'FiraCode Nerd Font';
  src: url('../fonts/FiraCodeNerdFontPropo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --md-default-fg-color: #000000;
  --md-default-fg-color--light: #333333;
  --md-default-fg-color--lighter: #666666;
  --md-default-fg-color--lightest: #999999;

  --md-default-bg-color: #909090; 
  --md-default-bg-color--light: #f5f5f5;
  --md-default-bg-color--lighter: #ebebeb;
  --md-default-bg-color--lightest: #e0e0e0;

  --md-code-fg-color: #000000;
  --md-code-bg-color: #dedede;
  --md-code-hl-color: #dddddd;
  --md-code-hl-color--light: #eeeeee;

  --md-code-hl-number-color: #000000;
  --md-code-hl-special-color: #000000;
  --md-code-hl-function-color: #000000;
  --md-code-hl-constant-color: #000000;
  --md-code-hl-keyword-color: #000000;
  --md-code-hl-string-color: #000000; 
  --md-code-hl-name-color: #000000;
  --md-code-hl-operator-color: #555555;
  --md-code-hl-punctuation-color: #555555;
  --md-code-hl-comment-color: #777777;
  --md-code-hl-generic-color: #444444;
  --md-code-hl-variable-color: #000000;

  --md-typeset-color: #000000;
  --md-typeset-a-color: #000000;
  --md-typeset-kbd-color: #f2f2f2;
  --md-typeset-kbd-accent-color: #e0e0e0;
  --md-typeset-kbd-border-color: #999999;
  --md-typeset-mark-color: #dddddd; 
  --md-typeset-table-color: #000000;
  --md-typeset-table-color--light: #f9f9f9;

  --md-admonition-fg-color: #000000;
  --md-admonition-bg-color: #f9f9f9;

  --md-shadow-z1: 0 0.2rem 0.5rem #0000000d, 0 0 0.05rem #0000001a;
  --md-shadow-z2: 0 0.2rem 0.5rem #00000033, 0 0 0.05rem #00000033;
  --md-shadow-z3: 0 0.2rem 0.5rem #00000066, 0 0 0.05rem #00000059;

  --md-primary-fg-color: #000000;
  --md-primary-bg-color: #ffffff;
  --md-accent-fg-color: #000000;
  --md-accent-bg-color: #ffffff;
}


code, pre {
  background-color: var(--md-code-bg-color) !important;
  color: var(--md-code-fg-color) !important;
  border-radius: 4px;
  margin-right: 30px;
  margin-left: 30px;
}

a {
  color: var(--md-typeset-a-color);
  text-decoration: underline;
  transition: color 0.2s ease;
}

a:hover {
  color: #555555;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  margin-left: 30px;
  margin-right: 30px;
}

blockquote {
  color: var(--md-code-hl-comment-color);
  border-left: 3px solid #000000; 
  background: #f8f8f8;
  padding-left: 1rem;
}


.md-header__inner.md-grid {
   background-color: transparent;
}

.md-header {
   background: transparent;
}

.md-header--shadow {
  box-shadow: none;
  transition: none;
}

.md-header {
  background: transparent;
  align-content: center;
}

.md-icon svg {
  fill: white;
  display: block;
  height: 1.2rem;
  width: 1.2rem;
}

.md-main__inner {
  margin-top: 1.5rem;
}
 
.md-typeset h1 {
  border-bottom: 2px solid var(--md-primary-fg-color);
  padding-bottom: 0.3em;
  margin-top: -0.5em;
  color: black;
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;
}

table {
  text-align: center;
}

.md-nav__title .md-nav__button.md-logo img,
.md-nav__title .md-nav__button.md-logo svg {
  fill:#b4befe;
  display:block;
  height:2.4rem;
  max-width:100%;
  object-fit:contain;
  width:auto;
  margin-right: auto;
  margin-left: auto;
}

[dir=ltr] .md-header__title {  
  display: none;
}

.md-header {
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

@media screen and (min-width: 76.25em) {
  .md-sidebar {
    height: 0;
  }
}

@media screen and (min-width: 60em) {
  .md-sidebar--secondary:not([hidden]) {
    display: none;
  }
}

.md-footer {
  background-color: var(--md-footer-bg-color);
  color: var(--md-footer-fg-color);
  display: none;
}

.md-header__button:not(.focus-visible) {
  -webkit-tap-highlight-color: transparent;
  outline: none;

}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #000000;
}

th, td {
  background-color: #dedede;
  border: 1px solid #000;
  padding: 0.5rem;
  text-align: center;
}

th {
  background-color: #fcfcfc;
  font-weight: bold;
}

.md-typeset {
  background-color: #f0f0f0;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 6px 6px 0px 0px #000000;

}

[dir="ltr"] .md-typeset blockquote {
  padding-left: .6rem;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #dbdbdb;
}

.md-typeset h2 {
  margin-left: 30px;
  margin-right: 30px;
}

.md-typeset h3 {
  margin-left: 30px;
  margin-right: 30px;
}

.md-typeset h4 {
  margin-left: 30px;
  margin-right: 30px;
}

.md-typeset h5 {
  margin-left: 30px;
  margin-right: 30px;
}

.md-typeset h6 {
  margin-left: 30px;
  margin-right: 30px;
}

p {
   margin-right: 30px;
   margin-left: 30px;
}

.md-typeset__table {
  display: table;
  margin-bottom: .5em;
  padding: 0 .8rem;
  margin-left: auto;
  margin-right: auto;
}

.md-typeset table:not([class]) {
  background-color: #ffffff;
}

.md-typeset ol:not([hidden]),
.md-typeset ul:not([hidden]) {
  display:flow-root;
  margin-right: 30px;
  margin-left: 30px;
}

.md-content__inner {
  padding-bottom: 30px;
  padding-top: 30px;
}

a.md-nav__link::before {
  content: "";
  margin-right: 0.5rem;
  opacity: 0.8;
  vertical-align: middle;
  position: relative;
  top: -4px;
}


label.md-nav__link::before {
  content: "";
  font-family: 'FiraCode Nerd Font';
  margin-right: 0.5rem;
  opacity: 0.8;
  transition: transform 0.2s ease;
  vertical-align: middle;
  position: relative;
  top: -4px;
}

input.md-nav__toggle:checked + label.md-nav__link::before {
  content: "";
  font-family: 'FiraCode Nerd Font';
  transform: rotate(0deg);
  vertical-align: middle;
  position: relative;
  top: -4px;
}

a.md-nav__link::before,
label.md-nav__link::before {
  font-family: 'FiraCode Nerd Font' !important;
  font-size: 0.9rem;
  vertical-align: middle;
}

.md-nav--primary .md-nav__title[for=__drawer] {
    text-align: center;
}
