@font-face {
    font-family: 'Terminess';
    src: url('config/fonts/TerminessNerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000000;
    font-family: 'Terminess'; 
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

p {
    color: #707070;
}

.asciidiv{

}

.ascii {
    display: block; 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.main {
    display: grid;
    place-items: center;
    min-height: 100vh;
    width: 100%;
}

.center {
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    padding: 20px 15px;
    
    background-color: #000000;
    box-shadow: 0px 0px 0px 0.1em #303030;
    box-sizing: border-box; 
    border-radius: 0px;
}

.links {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.mkdocs {
    text-align: center;
}

.mkdocs_link {
    margin-bottom: 10px;
}

a, a.mkdoc_l:link {
    color: #909090;
    background-color: transparent;
    text-decoration: none;
    font-family: 'Terminess'
 }

a:visited {
    color: #909090;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #909090;
    background-color: transparent;
    text-decoration: underline;
}

/*
@media (max-width: 480px) {
    .ascii pre {
        font-size: 0.5em;
        line-height: auto;
    }
    
    .center {
        padding: 10px 5px;
    }

    .links {
        margin-bottom: 60px;
    }
}
*/

@media (max-width: 480px) {
    .ascii pre {
        line-height: auto;
    }
    
    .center {
        padding: 10px 5px;
    }
}
